# .env.example
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"

# Brevo API Key
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

# HelloAsso API Credentials
HELLOASSO_CLIENT_ID=
HELLOASSO_CLIENT_SECRET=
HELLOASSO_ORGANIZATION_SLUG=
# Mode: 'sandbox' or 'production'
HELLOASSO_MODE=sandbox
